<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174370766580-i2gbdaov6kd5ov6tg2tuhg66nbaf3k0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174370766580-i2gbdaov6kd5ov6tg2tuhg66nbaf3k0f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174370766580-l28uojnbtdu1qv3il7lqu2d3iig9bvrc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA44s9JjLQnbGNV6tbYl7rvh1OwP5mec-w</string>
	<key>GCM_SENDER_ID</key>
	<string>174370766580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.silva</string>
	<key>PROJECT_ID</key>
	<string>ma-bulle-auth-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>ma-bulle-auth-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174370766580:ios:6eead10cbb626bd532a8a1</string>
</dict>
</plist>